<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Car</title>
    <link rel="stylesheet" href="{{ url_for('serve_css', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="#">Add Entry ▾</a>
                <ul class="dropdown">
                    <li><a href="/add_manufacturer">Add Manufacturer</a></li>
                    <li><a href="/add_car">Add Car</a></li>
                    <li><a href="/add_bodytype">Add Body Type</a></li>
                    <li><a href="/add_customer">Add Customer</a></li>
                    <li><a href="/add_order">Add Order</a></li>
                </ul>
            </li>
            <li><a href="/list">View Data</a></li>
            <li><a href="/delete">Delete Entry</a></li>
            <li><a href="/info">Info</a></li>
            <li><a href="/modify">Modify Entry</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Add Car</h1>

        <form action="/add_car" method="POST">
            <label for="mileage">Mileage:</label>
            <input type="number" name="mileage" required><br>

            <label for="price">Price:</label>
            <input type="text" name="price" required><br>

            <!-- Transmission Dropdown -->
            <label for="transmission">Transmission:</label>
            <select name="transmission" required>
                <option value="Automatic">Automatic</option>
                <option value="Manual">Manual</option>
            </select><br>

            <label for="manufacturer_id">Manufacturer:</label>
            <select name="manufacturer_id" required>
                {% for manufacturer in manufacturers %}
                    <option value="{{ manufacturer[0] }}">{{ manufacturer[1] }} - {{ manufacturer[2] }}</option>
                {% endfor %}
            </select><br>

            <br>
            <button type="submit">Add Car</button>
        </form>

        <hr>

        <h2>Manufacturers List</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Colour</th>
            </tr>
            {% for manufacturer in manufacturers %}
                <tr>
                    <td>{{ manufacturer[0] }}</td>
                    <td>{{ manufacturer[1] }}</td>
                    <td>{{ manufacturer[2] }}</td>
                    <td>{{ manufacturer[3] }}</td>
                    <td>{{ manufacturer[4] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <footer>
        <p>&copy; 2024 Car Database. All Rights Reserved.</p>
    </footer>
</body>

</html>