<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <a href="#">Add Entry ▾</a>
                <ul class="dropdown">
                    <li><a href="/add_manufacturer">Add Manufacturer</a></li>
                    <li><a href="/add_car">Add Car</a></li>
                    <li><a href="/add_bodytype">Add Body Type</a></li>
                    <li><a href="/add_customer">Add Customer</a></li>
                    <li><a href="/add_order">Add Order</a></li>
                </ul>
            </li>
            <li><a href="/list">View Data</a></li>
            <li><a href="/delete">Delete Entry</a></li>
            <li><a href="/info">Info</a></li>
            <li><a href="/modify">Modify Entry</a></li>
        </ul>
    </nav>

    <h1>Add Customer</h1>

    <form action="{{ url_for('add_customer') }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" required><br>

        <label for="phone_num">Phone Number:</label>
        <input type="text" name="phone_num" required><br>

        <br>
        <button type="submit">Submit Customer</button>
    </form>

    <footer>
        <p>&copy; 2024 Car Database. All Rights Reserved.</p>
    </footer>
</body>

</html>
